[submodule "Receive_subsystem"]
	path = Receive_subsystem
	url = C:\\Users\\User\\OneDrive\\dev\\VHDL\\Ethernet_switch\\Receive_subsystem
[submodule "Transmit_subsystem"]
	path = Transmit_subsystem
	url = C:\\Users\\User\\OneDrive\\dev\\VHDL\\Ethernet_switch\\Transmit_subsystem
