[submodule "Receive_subsystem"]
	path = Receive_subsystem
url=https://github.com/TomWoo/Receive_subsystem
[submodule "Transmit_subsystem"]
	path = Transmit_subsystem
url=https://github.com/TomWoo/Transmit_subsystem